In [1]:
import pandas as pd

df = pd.read_csv('MergedForWeka(1).csv')
df

,App Category,Usage (hours),Access count,average_time_per_access (Minutes),average_time_per_day (Minutes)
0,Social Media,329,6141,3.214460,102.279793
1,Communication,145,6366,1.366635,45.077720
2,Communication,105,5843,1.078213,32.642487
3,Gaming,85,545,9.357798,26.424870
4,Entertainment,82,1275,3.858824,25.492228
5,Internet Browsing,43,501,5.149701,13.367876
6,Elearning,26,411,3.795620,8.082902
7,Internet Browsing,26,230,6.782609,8.082902
8,Internet Browsing,22,1256,1.050955,6.839378
9,Entertainment,18,440,2.454545,5.595855
10,Entertainment,17,210,4.857143,5.284974
11,Shopping,11,526,1.254753,3.419689
12,Elearning,8,1024,0.468750,2.487047
13,Delivery,8,268,1.791045,2.487047
14,Delivery,8,338,1.420118,2.487047
15,Elearning,7,105,4.000000,2.176166

In [4]:
totalTimePerDay= df['average_time_per_day (Minutes)'].sum()
totalTimePerDay

292.227979239

In [3]:


if totalTimePerDay > 240:
    print("User has high screen time")
else:
    print("User has low screen time")

User has high screen time